.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.cache/
package-lock.json
.obsidian/
.svale/
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100/
.TemporaryItems/
.Trashes/
.apdisk/
